* { color:blue}
p, span{
    color:rgba(255, 0, 0, 0.753);
    width:30px;
}
h1{
    border: 1px solid black;
    padding: 50px;
    margin-top: 30px;
}
#pid {
    -webkit-text-stroke-color: brown;
    color: yellow;
    font-size:50px;
}
/** comentario */

* {
     box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
body {
    background-color: lightblue;  
}    
}
/** a partir de 600 o menor, cambia el color de fondo
media queries importante
modifica según máximo, mínimo, orientación, etc */
